@font-face {
    font-family: "ZiTiGuanJiaFangMeng";
    src: url("/data/web/data/font/ZiTiGuanJiaFangMeng.ttf")
    format('truetype');
}
.indexBodySetting {
    background-image:linear-gradient( rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
            url("/data/web/data/img/background/indexMainBg.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    transition: 150ms;
    color: #cff1ba;
}

h1 {
    /*font-family: ZiTiGuanJiaFangMeng;*/
    font-size: 45px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}

.buttonStyle_01 {
    background-color: rgba(255,92,67,0);
    border-color: #efffb8;
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    width: 160px;
    height: 50px;
    color: #efffb8;
    font-size: 30px;
    cursor: pointer;

}
.buttonStyle_01:hover {
    transition: 250ms;
    border-color: #dfffa4;
    color: #000000;
    background-color: #dfffa4;
}
.div_bottom {
    bottom: 0;
    margin-top: 10%;
    text-align: center;
}